In [13]:
import pandas as pd
import seaborn as sns

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/matplotlib/__init__.py:886: MatplotlibDeprecationWarning:
examples.directory is deprecated; in the future, examples will be found relative to the 'datapath' directory.
  "found relative to the 'datapath' directory.".format(key))

In [14]:
data = pd.read_csv("credit_card.csv")

In [15]:
data.shape

(1000, 21)

In [20]:
data.columns

Index(['checking_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings_status', 'employment',
       'installment_commitment', 'personal_status', 'other_parties',
       'residence_since', 'property_magnitude', 'age', 'other_payment_plans',
       'housing', 'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker', 'class'],
      dtype='object')

In [25]:
data[data["class"]== 'bad'].shape

(300, 21)

In [27]:
data[data["class"]== 'good'].shape

(700, 21)

In [29]:
data.describe()

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

## Test Train Split

In [63]:
import numpy as np
from sklearn.model_selection import train_test_split

X = data.drop(["class"], axis = 1 )
y = data[["class"]]

X_train, X_test, y_train, y_test = train_test_split(pd.get_dummies(X, prefix_sep="_"), y, test_size=0.33, random_state=42)

## Logistic Regression

In [64]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial').fit(X_train, y_train)
clf.score(X_test, y_test)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7606060606060606

## Random Forest

In [65]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
clf.fit(X_train, y_train) 
clf.score(X_test, y_test)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.693939393939394

## Decision Tree

In [72]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6636363636363637

## Navie Bayes Theorm

In [74]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7363636363636363

## SVC

In [75]:
from sklearn.svm import SVC
clf = SVC(gamma='auto')
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6848484848484848

In [58]:
X_Quant = data[["duration","credit_amount","personal_status","installment_commitment","residence_since","age", "existing_credits" ,"num_dependents"]]

In [49]:
data.columns

Index(['checking_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings_status', 'employment',
       'installment_commitment', 'personal_status', 'other_parties',
       'residence_since', 'property_magnitude', 'age', 'other_payment_plans',
       'housing', 'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker', 'class'],
      dtype='object')

In [51]:
data.nunique()

checking_status             4
duration                   33
credit_history              5
purpose                    10
credit_amount             921
savings_status              5
employment                  5
installment_commitment      4
personal_status             4
other_parties               3
residence_since             4
property_magnitude          4
age                        53
other_payment_plans         3
housing                     3
existing_credits            4
job                         4
num_dependents              2
own_telephone               2
foreign_worker              2
class                       2
dtype: int64

In [62]:
pd.get_dummies(data, prefix_sep="__")

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,checking_status__'0<=X<200',checking_status__'<0',checking_status__'>=200',...,job__'high qualif/self emp/mgmt',job__'unemp/unskilled non res',job__'unskilled resident',job__skilled,own_telephone__none,own_telephone__yes,foreign_worker__no,foreign_worker__yes,class__bad,class__good
0,6,1169,4,4,67,2,1,0,1,0,...,0,0,0,1,0,1,0,1,0,1
1,48,5951,2,2,22,1,1,1,0,0,...,0,0,0,1,1,0,0,1,1,0
2,12,2096,2,3,49,1,2,0,0,0,...,0,0,1,0,1,0,0,1,0,1
3,42,7882,2,4,45,1,2,0,1,0,...,0,0,0,1,1,0,0,1,0,1
4,24,4870,3,4,53,2,2,0,1,0,...,0,0,0,1,1,0,0,1,1,0
5,36,9055,2,4,35,1,2,0,0,0,...,0,0,1,0,0,1,0,1,0,1
6,24,2835,3,4,53,1,1,0,0,0,...,0,0,0,1,1,0,0,1,0,1
7,36,6948,2,2,35,1,1,1,0,0,...,1,0,0,0,0,1,0,1,0,1
8,12,3059,2,4,61,1,1,0,0,0,...,0,0,1,0,1,0,0,1,0,1
9,30,5234,4,2,28,2,1,1,0,0,...,1,0,0,0,1,0,0,1,1,0
10,12,1295,3,1,25,1,1,1,0,0,...,0,0,0,1,1,0,0,1,1,0
11,48,4308,3,4,24,1,1,0,1,0,...,0,0,0,1,1,0,0,1,1,0
12,12,1567,1,1,22,1,1,1,0,0,...,0,0,0,1,0,1,0,1,0,1
13,24,1199,4,4,60,2,1,0,1,0,...,0,0,1,0,1,0,0,1,1,0
14,15,1403,2,4,28,1,1,0,1,0,...,0,0,0,1,1,0,0,1,0,1
15,24,1282,4,2,32,1,1,0,1,0,...,0,0,1,0,1,0,0,1,1,0
16,24,2424,4,4,53,2,1,0,0,0,...,0,0,0,1,1,0,0,1,0,1
17,30,8072,2,3,25,3,1,0,1,0,...,0,0,0,1,1,0,0,1,0,1
18,24,12579,4,2,44,1,1,1,0,0,...,1,0,0,0,0,1,0,1,1,0
19,24,3430,3,2,31,1,2,0,0,0,...,0,0,0,1,0,1,0,1,0,1
20,9,2134,4,4,48,3,1,0,0,0,...,0,0,0,1,0,1,0,1,0,1
21,6,2647,2,3,44,1,2,0,1,0,...,0,0,0,1,1,0,0,1,0,1
22,10,2241,1,3,48,2,2,0,1,0,...,0,0,1,0,1,0,1,0,0,1
23,12,1804,3,4,44,1,1,1,0,0,...,0,0,0,1,1,0,0,1,0,1
24,10,2069,2,1,26,2,1,0,0,0,...,0,0,0,1,1,0,1,0,0,1
25,6,1374,1,2,36,1,1,0,1,0,...,0,0,1,0,0,1,0,1,0,1
26,6,426,4,4,39,1,1,0,0,0,...,0,0,1,0,1,0,0,1,0,1
27,12,409,3,3,42,2,1,0,0,1,...,0,0,0,1,1,0,0,1,0,1
28,7,2415,3,2,34,1,1,1,0,0,...,0,0,0,1,1,0,0,1,0,1
29,60,6836,3,4,63,2,1,0,1,0,...,0,0,0,1,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,15,1514,4,2,22,1,1,1,0,0,...,0,0,0,1,1,0,0,1,0,1
971,24,7393,1,4,43,1,2,0,0,0,...,0,0,1,0,1,0,0,1,0,1
972,24,1193,1,4,29,2,1,0,1,0,...,0,1,0,0,1,0,0,1,1,0
973,60,7297,4,4,36,1,1,0,1,0,...,0,0,0,1,1,0,0,1,1,0
974,30,2831,4,2,33,1,1,0,0,0,...,0,0,0,1,0,1,0,1,0,1
975,24,1258,3,3,57,1,1,0,0,1,...,0,0,1,0,1,0,0,1,0,1
976,6,753,2,3,64,1,1,1,0,0,...,0,0,0,1,1,0,0,1,0,1
977,18,2427,4,2,42,2,1,1,0,0,...,0,0,0,1,1,0,0,1,0,1
978,24,2538,4,4,47,2,2,0,0,0,...,0,0,1,0,1,0,0,1,1,0
979,15,1264,2,2,25,1,1,1,0,0,...,0,0,0,1,1,0,0,1,1,0
980,30,8386,2,2,49,1,1,1,0,0,...,0,0,0,1,1,0,0,1,1,0
981,48,4844,3,2,33,1,1,0,0,0,...,1,0,0,0,0,1,0,1,1,0
982,21,2923,1,1,28,1,1,0,0,1,...,1,0,0,0,0,1,0,1,0,1
983,36,8229,2,2,26,1,2,0,1,0,...,0,0,0,1,1,0,0,1,1,0
984,24,2028,2,2,30,2,1,0,0,0,...,0,0,1,0,1,0,0,1,0,1
985,15,1433,4,3,25,2,1,0,1,0,...,0,0,0,1,1,0,0,1,0,1
986,42,6289,2,1,33,2,1,0,0,1,...,0,0,0,1,1,0,0,1,0,1
987,13,1409,2,4,64,1,1,0,0,0,...,0,0,0,1,1,0,0,1,0,1
988,24,6579,4,2,29,1,1,0,1,0,...,1,0,0,0,0,1,0,1,0,1
989,24,1743,4,2,48,2,1,1,0,0,...,0,0,1,0,1,0,0,1,0,1
990,12,3565,2,1,37,2,2,0,0,0,...,0,0,1,0,1,0,0,1,0,1
991,15,1569,4,4,34,1,2,0,0,0,...,0,0,1,0,1,0,0,1,0,1
992,18,1936,2,4,23,2,1,0,1,0,...,0,0,1,0,1,0,0,1,0,1
993,36,3959,4,3,30,1,1,0,1,0,...,1,0,0,0,0,1,0,1,0,1
994,12,2390,4,3,50,1,1,0,0,0,...,0,0,0,1,0,1,0,1,0,1
995,12,1736,3,4,31,1,1,0,0,0,...,0,0,1,0,1,0,0,1,0,1
996,30,3857,4,4,40,1,1,0,1,0,...,1,0,0,0,0,1,0,1,0,1
997,12,804,4,4,38,1,1,0,0,0,...,0,0,0,1,1,0,0,1,0,1
998,45,1845,4,4,23,1,1,0,1,0,...,0,0,0,1,0,1,0,1,1,0
999,45,4576,3,4,27,1,1,1,0,0,...,0,0,0,1,1,0,0,1,0,1